<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <style>
        body{
            background:linear-gradient(135deg,#ff6b6b,#ff8787);
            height:100vh;
            display:flex;
            justify-content:center;
            align-items:center;
        }
        .error-card{
            background:white;
            padding:40px;
            border-radius:15px;
            text-align:center;
            box-shadow:0 10px 25px rgba(0,0,0,0.3);
        }
    </style>
</head>
<body>
<div class="error-card">
    <h1 class="text-danger">⚠ Error</h1>
    <p class="mt-3 fs-5" th:text="${errorBooking}"></p>
    <div class="mt-4">
        <a href="/booking" class="btn btn-primary">Back Home</a>
    </div>
</div>
</body>
</html>